* {
    box-sizing: border-box;
}

head,body {
    background-image: url("img/krajina.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
}
footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
.hlava {
    margin:150px;
    background-color:indianred;
    color:black;
    padding:25px;
    border-radius: 0px;
    width: 600px;
    position: center;
}

.hlava h2 {
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;

}

.div1 {
    margin-left:0%;
    padding:8px 16px;
    height:0px;
}

.img {
    border-radius: 0px;
    width: 10;
}
.foto{
    border-radius: 9px;
    width:200px;
    height: 250px;

}
.ramcek{
    border-radius: 0px;
}

.ramcek,style{
    margin:150px;
    background-color:white;
    color:black;
    padding:25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: indianred;
}
