* {
    box-sizing: border-box;
}

head,
body {
    background-image: url("img/krajina.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    width: 100%;
}

footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

header {
      width: 100%;
      height: 10vh;
      background-size: cover;
}

.content {
      width: 100%;
      margin: 4em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
}

p {
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;
}

p#section1 {
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: #3d4451;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 800;
    text-align: center;
    font-family: "Open Sans";
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
}
.center {
    background-color: white;
    color: black;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    margin: 100px auto;
    width: 40%;
}

.skillBox {
    box-sizing: border-box;
    margin: 10px auto;
    padding: 25px;

}

.skillBox p {
    color: #000;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    letter-spacing: 1px;
}

.skillBox p:nth-child(2) {
    float: right;
    position: relative;
    top: -25px;
}

.skill {
    background: #262626;
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid #cd5c5c;
    border-radius: 2px;
}

.skill_level {
    background: #cd5c5c;
    width: 100%;
    height: 10px;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 7em 0;
}

.img {
    border-radius: 0px;
    width: 0;
}

.foto {
    border-radius: 50%;
    width: 250px;
    align-items: center;

}

div.en {
    height: 24px;
    width: 80%
}

div.de {
    height: 24px;
    width: 75%
}

div.ru {
    height: 24px;
    width: 60%
}

.container,
style {
    background-color: white;
    color: black;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: left;
    margin: 250px;
    width: 40%;
}

section#home {
    padding: 200px 400px;
    background-color: hidden;
    background-position: center;
    overflow: hidden;
    margin: 100px;
    color: black;
    text-align: left;
}

.container0,
style {
    background-color: hidden;
    color: black;
    padding: 25px;
    text-align: center;
    margin: 10px auto;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}
